body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#no {
    position: absolute;
    white-space: nowrap;
    transition: 0.05s;
    background-color: #4b0808;
}

.questionnaire {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
h2 {
    color: #d63384;
}
.button {
    background-color: #d63384;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.button:hover {
    background-color: #c02670;
}
